.Cell {
  font-family: monospace;
  cursor: pointer;
  display: inline-block;
  width: 12px;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
}

.Cell:hover {
  background-color: pink
}
